/* Let's highlight canvas boundaries */
#gjs {
    border: 3px solid #444;
  }
  
  /* Reset some default styling */
  .gjs-cv-canvas {
    top: 0;
    width: 100% !important;
    height: 100%;
  }

.gjs-block {
    width: auto !important;
    height: auto !important;
    min-height: auto !important;
}
.panel__top {
  padding: 0 ;
  width: 100% !important;
  display: flex !important;
  position: initial ;
  justify-content: center !important;
  justify-content: space-between !important;
}
.panel__basic-actions {
  position: initial !important;
}

.editor-row {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: stretch !important;
  flex-wrap: nowrap !important;
  height: 300px !important;
}

.editor-canvas {
  flex-grow: 1 !important;
}

.panel__right {
  margin-top: 40px;
  flex-basis: 230px !important;
  position: relative !important;
  overflow-y: auto !important;
}

.panel__switcher {
  position: initial ;
  margin-left: 1100px;
  margin-right: 0px;
}

